@scheme_blue: #334D5C;
@scheme_green: #45B29D;
@scheme_yellow: #EFC94C;
@scheme_darkgrey: #464646;
@scheme_grey: #5B605F;
@scheme_lightgrey: #A1A194;
@scheme_white: #F2F2F2;

@font: 'Open Sans';

.box-shadow(@colour) {
    -webkit-box-shadow: inset 0 1px 1px @colour;
    -moz-box-shadow: inset 0 1px 1px @colour;
    box-shadow: inset 0 1px 1px @colour;
}

h1 {
    font-family: @font;
    font-weight: 800;
}

h2, h3, h4, h5 {
    font-family: @font;
    font-weight: 700;
}

p, div {
    font-family: @font;
    font-weight: 400;

    .lead {
        font-weight: 300;
    }
}

body {
    background: @scheme_white;

    h1 {
        color: @scheme_blue;
    }
}

.jumbotron {
    background-color: @scheme_blue;
    margin-bottom: 0;

    h1 {
        font-weight: 700;
        color: @scheme_white;
        a {
            color: @scheme_white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.background-scheme {
    background-color: @scheme_blue;
    color: white;
    margin-bottom: 30px;
    padding-bottom: none;

    .btn-default {
        color: @scheme_grey;
    }

    .nav-tabs {
        border-bottom: none;

        li {
            a {
                color: white;
            }
            a:hover {
                background-color: inherit;
                border-color: @scheme_white;
            }
        }

        li.active {
            a {
                background-color: @scheme_white;
                color: @scheme_blue;
            }
        }
    }
}

message {
    div.panel.panel-scheme-blue {
        .panel-heading {
            background-color: @scheme_blue;
            color: @scheme_white;
        }
    }
}

.btn-scheme {
    color: white;
    background-color: @scheme_blue;
    border-color: darken(@scheme_blue, 5%);
}

.btn-scheme:hover {
    .btn-scheme();
    background-color: darken(@scheme_blue, 5%);
}

.btn-scheme:active {
    color: white;
    .btn-scheme();
}

input.ng-dirty.ng-invalid {
    background-color: lighten(red, 50%);
}

input.ng-dirty.ng-valid {
    background-color: lighten(green, 65%);
}

.panel-footer {
    color: @scheme_lightgrey;
    font-style: italic;
}

hr.short {
    width: 100px;
    border-color: @scheme_darkgrey;
}

.red {
    color: red;
}

.red:hover {
    .red();
}   

.affix-top {
    position: static;
}

.affix {
    position: fixed;
    width: auto;
    top: 0;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 5px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }