@scheme_blue: #068587;
@scheme_darkgrey: #464646;
@scheme_grey: #5B605F;
@scheme_lightgrey: #A1A194;
@scheme_white: #FCF9F0;

.box-shadow(@colour) {
    -webkit-box-shadow: inset 0 1px 1px @colour;
    -moz-box-shadow: inset 0 1px 1px @colour;
    box-shadow: inset 0 1px 1px @colour;
}

h1, h2, h3, h4, h5, p, div {
    font-family: 'Montserrat';
}

body {
    background: @scheme_white;

    h1 {
        color: @scheme_blue;
    }
}

.jumbotron {
    background-color: @scheme_blue;

    h1 {
        font-weight: 700;
        color: @scheme_white;
        a {
            color: @scheme_white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

message {
    div.panel.panel-scheme-blue {
        .panel-heading {
            background-color: @scheme_blue;
            border-color: @scheme_blue;
            color: @scheme_white;
        }
        .panel-body {
            color: @scheme_darkgrey;
        }
    }
}

.btn-scheme {
    color: white;
    background-color: @scheme_blue;
    border-color: darken(@scheme_blue, 5%);
}

.btn-scheme:hover {
    .btn-scheme();
    background-color: darken(@scheme_blue, 5%);
}

.btn-scheme:active {
    color: white;
    .btn-scheme();
}

.ng-dirty.ng-invalid {
    border-color: #a94442;
}

.ng-dirty.ng-valid {
    border-color: #3c763d;
}

.red {
    color: red;
}

.red:hover {
    .red();
}