<div class="col-sm-4">
    <div class="container"> 
        <p class="status good" ng-show-auth>Hello, <a href="#/account">{{user.displayName}}</a>. [<a class="red" href="" ng-click="logout()">logout</a>]</p>
        <p class="status" ng-hide-auth>Welcome. You are not <a href="#/login">logged in</a></p>
        <div ng-show="notifications.length > 0">
            <span class="label label-danger label-notification" ng-click="readNotifications()">{{notifications.length}} unread</span>
            <a ng-click="clearNotifications()"><span class="label label-default label-notification"><i class="fa fa-trash-o"></i></span></a>
        </div>
        <notifications ng-show="showNotifications"></notifications>
        <h4>New Message</h4>
        <new-message-form></new-message-form>
    </div>
</div>

<div class="col-sm-8">
    <div ng-repeat="message in messages | reverse">
        <message></message>
    </div>
</div>